body {
  background-color: #1e2647;
}

nav {
  height: 20px;
  background-color: white;
  color: #1e2647;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

.search-container {
  text-align: center;
}

.result-container {
  margin-top: 45px;
  text-align: center;
}

.results-table {
  background-color: white;
  padding: 20px;
  text-align: left;
  margin: 45px;
}

td,
th {
  padding: 5px 40px;
}

button {
  background: #00a4ff;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  padding: 5px 20px;
}

ul {
  display: inline;
}

.pointer-link {
  background-color: white;
  color: #1e2647;
  padding: 0 24px;
  margin-top: 0;
  margin-left: 10px;
  border-style: none;
  border-radius: 0;

  &.selected {
    background-color: #00a4ff;
  }
}

label {
  color: white;
  font-weight: bold;
  text-align: left;
}

input {
  background: #f7f8fd;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: #0e2d4c;
  height: 35px;
  margin-top: 20px;
  padding: 10px 0;
  outline: 0;
  text-align: center;
  -webkit-box-shadow: none;
}

.hidden {
  display: none;
}
